@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Oswald:wght@200;300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Oswald',
        sans-serif;
    font-family: 'Dancing Script',
        cursive;
    font-family: 'Playfair Display',
        serif;
    font-family: 'Poppins',
        sans-serif;
}

body,
html {
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

.scroller{
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;

}

ul {
    list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;